body{
    background-color: #c92525;
    font-family: Verdana;
}

.external-section{
    background-color: #e6ffe6;
    border: 3px solid green;
    padding: 15px;
    margin: 15px;
}

.external-section h2{
    color: green;
}

.external-section p{
    font-size: 17px;
}

.underline-text{
    text-decoration: underline;
    font-style: italic;
}

footer{
    text-align: center;
    margin-top: 20px;
}